/* Base styles */

a strong {
  color: inherit;
}

hr {
  background: none;
  border: none;
  border-bottom: 1px solid #d8dee9;
}

img {
  height: auto;
  max-width: 100%;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
}

footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 4em;
  text-align: center;
}

header,
main {
  margin: 0 auto;
  max-width: 50em;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
}

body {
  line-height: 1.5;
  padding: 4em 1em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

body {
  color: #555;
}

h1,
h2 {
  color: #333;
}

a {
  color: #e81c4f;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
}

main {
  padding: 4em 1em;
}

header {
  background-color: #263d36;
  background-image: url("../../img/header.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  max-width: none;
  padding: 10vw 2em;
  text-align: center;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background: #e81c4f;
  color: white;
}

h3 {
  text-align: center;
  color: #e81c4f;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input {
  background-color: #f3f3f3;
  color: white;
  height: 23px;
  width: 150px;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
}

button {
  padding-top: 10px;
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  background: #e81c4f;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
}
